<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
  <div class="card-header">
    Name:{{employee.name}}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">designation:{{employee.designation}}</li>
    <li class="list-group-item">salary:{{employee.salary}}</li>
    <li class="list-group-item">location:{{employee.location}}</li>
      <li class="list-group-item">email:{{employee.email}}</li>

  </ul>
</div>


    </div>
    <div class="col-4"></div>
</div>

</body>
</html>